.div{
    display: flex;
    flex-direction: row;
    // width: 100px;
    // height:100px;
}

.div1{
    padding-right: 100px;

}

.juicy{
    background-color: antiquewhite;
}
.dry{
    background-color: azure;
}